
# in this .gitingore file, we are ignoring the IndicTrans2 and IndicTransToolkit directories
# so that they are not included in the git repository
IndicTrans2/
IndicTransToolkit/
IndicTransToolkit/IndicTransToolkit/

old_code/
odia\ csv/

OdiEnCorp_1.0/
hindi_csv/

BPCC.zip
en-hi.txt.zip

relations_dataset.csv

BPCC/
zip_path
samanantar_en_hi.zip

lang_rel_dict/


translated_csv/
test_csv__/
flores-22_dev/
BPCC__/
IN22_testset/

Noto_Sans_INdic/

pickel files/

trainset_filtered/

trainset_filtered/ben_Beng/
test_translations/
notebooks/scratch_pad.ipynb
logits_confusion_matrix.txt
results/logits_test_train_orientation_ratio_2025-05-13_11-48-22.png
notebooks/all_others.csv
FT_outputs2025-05-30_16-58-39.csv
indict2_FT/
notebooks/**_outputs_logs.txt
notebooks/response_logs.txt
notebooks/indic_sent_dict__.txt
notebooks/logits_bpcc_df_2025-05-09_04-01-14.csv


notebooks/translations_grandmother_guj_Gujr2025-05-26_16:25:39.csv
notebooks/translations_grandmother_hin_Deva2025-05-26_16:14:33.csv
notebooks/translations_grandmother_hin_Deva2025-05-26_16:24:01.csv
notebooks/translations_grandmother_hin_Deva2025-05-26_16:31:01.csv
notebooks/translations_grandmother_mar_Deva2025-05-26_16:27:16.csv

OTHERS/tel_Telu/tel_Telu_child_others.csv
OTHERS/tel_Telu/tel_Telu_cousin_others.csv
OTHERS/tel_Telu/tel_Telu_grandfather_others.csv
OTHERS/tel_Telu/tel_Telu_grandmother_others.csv
OTHERS/tel_Telu/tel_Telu_nephew_others.csv
OTHERS/tel_Telu/tel_Telu_niece_others.csv
OTHERS/tel_Telu/tel_Telu_sister-in-law_others.csv
OTHERS/tel_Telu/tel_Telu_uncle_others.csv

notebooks/logits_bpcc_df_2025-05-09_04-01-14.csv
notebooks/output.csv

